!!!5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title
      = current_page.data.title || 'Christian Fleschhut: Frontend-Entwickler, Berlin'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'screen', media: 'screen'
    = javascript_include_tag 'main'

  %body{ class: "#{page_classes}" }

    .container
      = partial :header

      %main
        = yield

      = partial :footer
