!!!5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title
      = current_page.data.title || 'Christian Fleschhut: Frontend Developer &middot; Berlin, Germany'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'screen', media: 'screen'

    %meta{ name: "description", content: 'Christian Fleschhut is a frontend developer specialized in Ruby on Rails, Haml, Sass, JavaScript and Responsive Webdesign with 8+ years work experience in the field of web design & development.' }
    %meta{ name: "keywords", content: 'Webstandards, XHTML, CSS, JavaScript, HTML5, CSS3, Frontend, Webdesign, Webentwicklung, Webentwickler, Entwickler, Mediengestaltung, Mediengestalter, Berlin, Germany' }

    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic|Merriweather:300,400,400italic,700', rel: 'stylesheet', type: 'text/css' }

    %link{ href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel: 'stylesheet' }

    = javascript_include_tag 'main'
    = favicon_tag 'favicon.ico'

  %body{ class: "#{page_classes}", data: { spy: 'scroll', target: '#navbar' } }

    = partial :navbar
    = partial :intro

    .container
      = yield

    = partial :footer

    = partial :analytics
