%section#contact
  .row
    .col-md-12
      .page-header
        %h2
          Contact
          %small
            How to reach me

  .row
    .col-sm-4
      %h3
        Email
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-inbox
          %p
            = mail_to 'info@christianfleschhut.de', 'info@christianfleschhut.de'
        %li
          %i.fa.fa-li.fa-skype
          %p
            Skype-ID:
            = link_to 'cfleschhut', 'skype:cfleschhut'

    .col-sm-4
      %h3
        Elsewhere
      %div
        %p
          I share code snippets at these places:
        %ul.fa-ul
          %li
            %i.fa.fa-li.fa-pencil
            = link_to 'CodePen', 'https://codepen.io/cfleschhut'
          %li
            %i.fa.fa-li.fa-code-fork
            = link_to 'GitHub Gist', 'https://gist.github.com/cfleschhut'
          %li
            %i.fa.fa-li.fa-code
            = link_to 'jsFiddle', 'https://jsfiddle.net/user/cfleschhut/fiddles/'
          %li
            %i.fa.fa-li.fa-puzzle-piece
            = link_to 'snipplr', 'https://snipplr.com/users/cfleschhut'
      %div
        %p
          Continuous learning via:
        %ul.fa-ul
          %li
            %i.fa.fa-li.fa-book
            = link_to 'Code School', 'https://www.codeschool.com/users/17549'
            &
            = link_to 'Treehouse', 'https://teamtreehouse.com/christianfleschhut'

    .col-sm-4
      %h3
        Credits
      %ul.fa-ul
        %li
          %p
            %i.fa.fa-li.fa-cogs
            Site powered by
            %br
            #{link_to 'Middleman', 'https://middlemanapp.com/'},
            #{link_to 'Bootstrap-Sass', 'https://github.com/twbs/bootstrap-sass'},
            #{link_to 'Font Awesome', 'https://fontawesome.io/'}
            &amp; Club&nbsp;Mate
        %li
          %p
            %i.fa.fa-li.fa-camera-retro
            Photo by
            = link_to 'Apolonia Wieland', 'http://bangbang-photography.com/'
        %li
          %p
            %i.fa.fa-li.fa-terminal
            = link_to 'Site source', 'https://github.com/cfleschhut/christianfleschhut.de'
            on GitHub

  #instagram
    %h4
      Instagramification
    #ig_images
      %p
        = link_to 'https://instagram.com/ultramagnetik', class: 'btn btn-default btn-sm' do
          %i.fa.fa-chevron-right
          instagr.am/ultramagnetik
