%section#contact
  .row
    .col-md-12
      .page-header
        %h2
          Contact
          %small
            How to find me

  .row
    .col-md-4
      %h3
        Email
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-inbox
          %p
            Feel free to drop me a line at:
            = mail_to 'hello@christianfleschhut.de', 'hello@christianfleschhut.de'
        %li
          %i.fa.fa-li.fa-skype
          %p
            Skype-ID:
            = link_to 'cfleschhut', 'skype:cfleschhut'
    .col-md-4
      %h3
        Credits
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-cogs
          Site powered by:
          %br
          #{link_to 'Middleman', 'http://middlemanapp.com/'},
          #{link_to 'Bootstrap-Sass', 'https://github.com/twbs/bootstrap-sass'}
          &amp; Club Mate
        %li
          %i.fa.fa-li.fa-camera-retro
          Photo by:
          %br
          = link_to 'Apolonia Wieland', 'http://bangbang-photography.com/'
    .col-md-4
      %h3
        Elsewhere
      %p
        I store code snippets at these places:
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-code-fork
          = link_to 'GitHub Gist', 'https://gist.github.com/cfleschhut'
        %li
          %i.fa.fa-li.fa-code
          = link_to 'jsFiddle.net', 'http://jsfiddle.net/user/cfleschhut/fiddles/'
        %li
          %i.fa.fa-li.fa-puzzle-piece
          = link_to 'snipplr.com', 'http://snipplr.com/users/cfleschhut'
