%section#contact
  .row
    .col-md-12
      .page-header
        %h2
          Contact
          %small
            How to find me

  .row
    .col-sm-4
      %h3
        Email
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-inbox
          %p
            Feel free to drop me a line at:
            = mail_to 'hello@christianfleschhut.de', 'hello@christianfleschhut.de'
        %li
          %i.fa.fa-li.fa-skype
          %p
            Skype-ID:
            = link_to 'cfleschhut', 'skype:cfleschhut'
    .col-sm-4
      %h3
        Credits
      %ul.fa-ul
        %li
          %p
            %i.fa.fa-li.fa-cogs
            Site powered by:
            %br
            #{link_to 'Middleman', 'http://middlemanapp.com/'},
            #{link_to 'Bootstrap-Sass', 'https://github.com/twbs/bootstrap-sass'}
            &amp;
            Club Mate
        %li
          %p
            %i.fa.fa-li.fa-rocket
            Icon font:
            %br
            #{link_to 'Font Awesome', 'http://fontawesome.io/'}
        %li
          %p
            %i.fa.fa-li.fa-camera-retro
            Photo by:
            %br
            = link_to 'Apolonia Wieland', 'http://bangbang-photography.com/'
    .col-sm-4
      %h3
        Elsewhere
      %P
        Continuous learning via:
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-book
          = link_to 'Code School', 'https://www.codeschool.com/users/17549'
      %p
        I store code snippets at these places:
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-pencil
          = link_to 'CodePen', 'http://codepen.io/cfleschhut'
        %li
          %i.fa.fa-li.fa-code-fork
          = link_to 'GitHub Gist', 'https://gist.github.com/cfleschhut'
        %li
          %i.fa.fa-li.fa-code
          = link_to 'jsFiddle', 'http://jsfiddle.net/user/cfleschhut/fiddles/'
        %li
          %i.fa.fa-li.fa-puzzle-piece
          = link_to 'snipplr', 'http://snipplr.com/users/cfleschhut'
