%footer#site_footer
  .container
    .section.section_01
      %p#copyright
        &copy;
        = Time.new.year
        Christian Fleschhut
      %nav
        %ul.list-inline
          %li
            = link_to 'About', '#about'
          %li
            &middot;
          %li
            = link_to 'Timeline', '#timeline'
          %li
            &middot;
          %li
            = link_to 'Contact', '#contact'

    .section.section_02
      %nav
        %ul.list-inline
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-twitter
            = link_to 'https://twitter.com/cfleschhut' do
              Twitter
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-github
            = link_to 'https://github.com/cfleschhut' do
              GitHub
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-xing
            = link_to 'http://www.xing.com/profiles/Christian_Fleschhut' do
              Xing
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-stack-overflow
            = link_to 'http://stackoverflow.com/cv/christianfleschhut' do
              StackOverflow
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-bookmark
            = link_to 'https://del.icio.us/christianfleschhut' do
              Delicious
