%footer#site_footer
  .container
    .section.section_01
      %p#copyright
        &copy; 2014 Christian Fleschhut
      %nav
        %ul.list-inline
          %li
            = link_to 'About', '#about'
          %li
            &middot;
          %li
            = link_to 'Timeline', '#timeline'
          %li
            &middot;
          %li
            = link_to 'Contact', '#contact'

    .section.section_02
      %nav
        %ul.list-inline
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-twitter
            = link_to 'https://twitter.com/cfleschhut' do
              twitter
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-github
            = link_to 'https://github.com/cfleschhut' do
              github
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-xing
            = link_to 'http://www.xing.com/profiles/Christian_Fleschhut' do
              xing
          %li
            %span.fa-stack
              %i.fa.fa-stack-2x.fa-circle
              %i.fa.fa-stack-1x.fa-inverse.fa-bookmark
            = link_to 'https://delicious.com/christianfleschhut' do
              delicious
