%section#timeline
  .row
    .col-md-12
      .page-header
        %h2
          Timeline
          %small
            Professional experience

  .row
    .col-sm-12
      %ul#portfolio
        %li.work
          .date
            %h5
              Nov 2013 &ndash; Dez 2013
          .details
            .project
              %h4
                = link_to 'gigmit.com', 'https://www.gigmit.com/'
            .employer
              %p
                %small
                  GET a GIG GmbH
            .description
              %p
                Responsive HTML email templates + frontend refactoring
                %small
                  [Rails, Haml, Sass]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.gigmit.com/' do
                = image_tag 'screenshots/gigmit.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Jul 2012 &ndash; Oct 2013
          .details
            .project
              %h4
                = link_to 'boost project', 'https://www.boost-project.com/'
            .employer
              %p
                %small
                  Boost Engagement FBX gemeinnützige GmbH
            .description
              %p
                Web application frontend
                %small
                  [Rails, Haml, Sass, Compass, jQuery]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.boost-project.com/' do
                = image_tag 'screenshots/boost.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Nov 2012 &ndash; Oct 2013
          .details
            .project
              %h4
                = link_to 'EntscheiderClub', 'https://www.entscheiderclub.de/'
            .employer
              %p
                %small
                  GapFish GmbH / Boost Engagement
            .description
              %p
                Web application frontend
                %small
                  [Rails, Haml, Sass, Bootstrap, jQuery]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.entscheiderclub.de/' do
                = image_tag 'screenshots/entscheiderclub.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Aug 2012
          .details
            .project
              %h4
                = link_to 'netSTART', 'http://www.netstart.de/'
            .employer
              %p
                %small
                  Hanse Ventures / Boost Engagement
            .description
              %p
                WordPress theme
                %small
                  [WordPress, HTML, CSS, Bootstrap]
          .screenshot
            %figure.img-shadow
              = link_to 'http://www.netstart.de/' do
                = image_tag 'screenshots/netstart.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Sep 2011 &ndash; Jul 2012
          .details
            .project
              %h4
                Gameforge Mobile
            .employer
              %p
                %small
                  Gameforge Productions GmbH
            .description
              %p
                Mobile games interface
                %small
                  [HTML5, CSS3, Zepto.js]
          .screenshot
            %figure
              = image_tag 'screenshots/gameforge_mobile.jpg', class: 'img-responsive center-block'
              %figcaption
                %ul.list-inline
                  %li
                    = link_to 'Vampir-Spiel', 'https://itunes.apple.com/de/app/vampir-spiel/id482045970'
                  %li
                    = link_to 'Mafia-Spiel', 'https://play.google.com/store/apps/details?id=com.gameforge.xmobile.mafia'
                  %li
                    = link_to 'Kriegs-Spiel', 'http://www.windowsphone.com/de-de/store/app/kriegs-spiel/3f992fc9-67d2-4b75-a468-85735b5269b6'

        %li.work
          .date
            %h5
              Jul 2010 &ndash; Sep 2011
          .details
            .project
              %h4
                = link_to 'Battleknight', 'http://de.battleknight.gameforge.com/'
            .employer
              %p
                %small
                  Gameforge Productions GmbH
            .description
              %p
                Browser game interface
                %small
                  [HTML, CSS, MooTools]
          .screenshot
            %figure.img-shadow
              = link_to 'http://de.battleknight.gameforge.com/' do
                = image_tag 'screenshots/battleknight.jpg', class: 'img-responsive center-block'
