%section#timeline
  .row
    .col-md-12
      .page-header
        %h2
          Timeline
          %small
            professional experience

  .row
    .col-sm-10.col-sm-offset-1
      %ul
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2014
              .panel-body
                Up for new challenges!

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  Late 2013
              .panel-body
                Refactoring + responsive HTML email templates at #{link_to 'gigmit.com', 'https://www.gigmit.com/'} music booking platform (Ruby on Rails, Haml, Sass, Backbone)

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  September 2012
                  %i.fa.fa-trophy
              .panel-body
                Ran 7<sup>th</sup> overall marathon at
                #{link_to 'Berlin Marathon', 'http://www.bmw-berlin-marathon.com/'}
                in a
                %abbr{ title: 'Personal best' }
                  PB
                of
                %time
                  03:26:55

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  July 2012
              .panel-body
                %p
                  Moved to Berlin, joined non-profit social startup
                  #{link_to 'boost project', 'https://www.boost-project.com/'}
                  as frontend developer using Ruby on Rails, Haml, Sass
                %p
                  Frontend client work at boost project for
                  #{link_to 'EntscheiderClub', 'https://www.entscheiderclub.de/'} (Rails),
                  #{link_to 'netSTART', 'http://www.netstart.de/'} (WordPress),

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  Fall 2011 – Summer 2012
              .panel-body
                Interface implementation of the first three multi-platform
                %small
                  (iOS, Android, Blackberry, Windows Phone)
                mobile games at Gameforge based on web technologies (HTML5, CSS3, JavaScript)
                &mdash;
                #{link_to 'Vampir-Spiel', 'https://itunes.apple.com/de/app/vampir-spiel/id482045970'},
                #{link_to 'Mafia-Spiel', 'https://play.google.com/store/apps/details?id=com.gameforge.xmobile.mafia'},
                #{link_to 'Kriegs-Spiel', 'http://www.windowsphone.com/de-de/store/app/kriegs-spiel/3f992fc9-67d2-4b75-a468-85735b5269b6'}

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  October 2011
              .panel-body
                Ran 5<sup>th</sup> marathon at
                #{link_to 'Frankfurt Marathon', 'http://www.bmw-frankfurt-marathon.com/'} in
                %time
                  03:31:18


        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2011
              .panel-body
                Cross-browser optimization + HTML/CSS/JavaScript-based feature implementation for
                #{link_to 'Battleknight', 'http://de.battleknight.gameforge.com/'} browser game at Gameforge

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  September 2010
              .panel-body
                First marathon at
                #{link_to 'Berlin Marathon', 'http://www.bmw-berlin-marathon.com/'}
                in just under 4 hours

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  July 2010
              .panel-body
                Started at Gameforge Productions, Karlsruhe as web designer for browser-based games on projects including
                #{link_to 'gameforge.com', 'http://de.gameforge.com/'},
                #{link_to 'Gladiatus', 'http://de.gladiatus.gameforge.com/'}

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2008–2010
              .panel-body
                Multiple HTML/CSS layout templates for
                #{link_to '1&1 Branchen-Homepage', 'http://www.branchen-homepage.de/'},
                HTML templates & prototyping for
                #{link_to 'Mercedes-Benz Bank PartnerConnect!', 'https://www.partnerconnect.mercedes-benz-bank.de/'}
                built as web designer for eyeworkers interactive

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  January 2008
              .panel-body
                Mediengestalter-Abschlussprüfung
                „#{link_to 'Hotel Sahara', 'http://www.christianfleschhut.de/projekte/ap_2007/zimmer.html'}“ (Website-Umsetzung)
                %small
                  &mdash; geprüfter Mediengestalter (IHK), Fachrichtung Medienoperating

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  March 2007
              .panel-body
                Mediengestalter-Zwischenprüfung
                „#{link_to 'Tierpark Falkenbeck', 'http://www.christianfleschhut.de/projekte/zp_2007/'}“ (Website Design + Umsetzung)
                %small
                  &mdash; Fachrichtung Mediendesign

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2005–2008
              .panel-body
                Various client work as web designer (
                %small
                  HTML, CSS, JS, WordPress
                ) at eyeworkers interactive:
                #{link_to 'BASF Dr. Wolman', 'http://www.wolman.de/'},
                #{link_to 'ISWC Conference 2008', 'http://iswc2008.semanticweb.org/'},
                #{link_to 'Städt. Kindergarten Waibstadt', 'http://www.kiga-waibstadt.de/'},
                #{link_to 'KRZ Südwestdeutschland', 'http://www.krz-swd.de/'},
                #{link_to 'iRegions', 'http://www.iregion.de/'},
                #{link_to 'Mittelstandsprogramm', 'http://www.mittelstandsprogramm.com/'},
                #{link_to 'eyeKit CMS', 'http://www.eyekit.de/'},
                #{link_to 'IT-Choice', 'http://www.it-choice.de/'}

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  August 2005
              .panel-body
                Started apprenticeship as “Mediengestalter für Digital- & Printmedien”
                at #{link_to 'eyeworkers interactive', 'http://www.eyeworkers.de/'} in Karlsruhe

        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  Early 2004
              .panel-body
                First venture into web design with books like
                #{link_to 'Eric Meyer on CSS', 'http://www.ericmeyeroncss.com/'},
                #{link_to 'The Zen of CSS Design', 'http://www.csszengarden.com/'} (CSS Zen Garden)
                and
                #{link_to 'Designing with Web Standards', 'http://www.zeldman.com/dwws'}
