%section#timeline
  .row
    .col-md-12
      .page-header
        %h2
          Timeline
          %small
            Professional experience

  .row
    .col-sm-12
      %ul#portfolio.list-unstyled
        %li.work
          .date
            %h5
              July 2016 &ndash; July 2017
          .details
            .project
              %h4
                = link_to 'Highsnobiety', 'http://www.highsnobiety.com/'
            .employer
              %p
                %small
                  Titel Media GmbH
            .description
              %p
                UI development for
                = link_to 'highsnobiety.com', 'http://www.highsnobiety.com/'
                global lifestyle news site and
                = link_to 'whatdropsnow.com', 'https://www.whatdropsnow.com/'
                curated shopping platform
                &nbsp;&middot;&nbsp;
                %small
                  [HTML, Sass, JavaScript, React, Redux, TypeScript, GreenSock GSAP, WordPress, Backbone, Lodash]

        %li.work
          .date
            %h5
              July 2014 &ndash; Nov 2015
          .details
            .project
              %h4
                = link_to 'Marley Spoon', 'https://www.marleyspoon.de/'
            .employer
              %p
                %small
                  MarleySpoon GmbH
            .description
              %p
                UI development from initial site launch to market establishment in 5 countries
                &nbsp;&middot;&nbsp;
                %small
                  [Rails, Sass, CoffeeScript, Backbone, Foundation, Angular, I18n]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.marleyspoon.com/' do
                = image_tag 'screenshots/marleyspoon.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              May 2014 &ndash; July 2014
          .details
            .project
              %h4
                = link_to 'mydealz.de', 'http://hukd.mydealz.de/'
            .employer
              %p
                %small
                  6Minutes Media GmbH
            .description
              %p
                Feature completion for responsive site relaunch
                &nbsp;&middot;&nbsp;
                %small
                  [HTML, Twig, Sass, Grunt, RequireJS]
          .screenshot
            %figure.img-shadow
              = link_to 'http://hukd.mydealz.de/' do
                = image_tag 'screenshots/mydealz.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Nov 2013 &ndash; Dez 2013
          .details
            .project
              %h4
                = link_to 'gigmit.com', 'https://www.gigmit.com/'
            .employer
              %p
                %small
                  GET a GIG GmbH
            .description
              %p
                Responsive HTML email templates + frontend refactoring
                &nbsp;&middot;&nbsp;
                %small
                  [Rails, Haml, Sass]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.gigmit.com/' do
                = image_tag 'screenshots/gigmit.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Jul 2012 &ndash; Nov 2013
          .details
            .project
              %h4
                = link_to 'boost project', 'https://www.boost-project.com/'
            .employer
              %p
                %small
                  Boost Engagement FBX gemeinnützige GmbH
            .description
              %p
                Web application frontend development
                &nbsp;&middot;&nbsp;
                %small
                  [Rails, Haml, Sass, Compass, jQuery]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.boost-project.com/' do
                = image_tag 'screenshots/boost.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Nov 2012 &ndash; Nov 2013
          .details
            .project
              %h4
                = link_to 'EntscheiderClub', 'https://www.entscheiderclub.de/'
            .employer
              %p
                %small
                  Boost Engagement FBX / GapFish GmbH
            .description
              %p
                Web application frontend development
                &nbsp;&middot;&nbsp;
                %small
                  [Rails, Haml, Sass, Bootstrap, jQuery]
          .screenshot
            %figure.img-shadow
              = link_to 'https://www.entscheiderclub.de/' do
                = image_tag 'screenshots/entscheiderclub.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Sep 2011 &ndash; Jul 2012
          .details
            .project
              %h4
                Gameforge Mobile
            .employer
              %p
                %small
                  Gameforge Productions GmbH
            .description
              %p
                Multi-platform mobile games interface development
                &nbsp;&middot;&nbsp;
                %small
                  [HTML5, CSS3, Zepto.js]
          .screenshot
            %figure
              = image_tag 'screenshots/gameforge_mobile.jpg', class: 'img-responsive center-block'
              %figcaption
                %ul.list-inline
                  %li
                    = link_to 'Vampir-Spiel', 'https://itunes.apple.com/de/app/vampir-spiel/id482045970'
                  %li
                    = link_to 'Mafia-Spiel', 'https://play.google.com/store/apps/details?id=com.gameforge.xmobile.mafia'
                  %li
                    = link_to 'Kriegs-Spiel', 'http://www.windowsphone.com/de-de/store/app/kriegs-spiel/3f992fc9-67d2-4b75-a468-85735b5269b6'

        %li.work
          .date
            %h5
              Jul 2010 &ndash; Sep 2011
          .details
            .project
              %h4
                = link_to 'Battleknight', 'http://de.battleknight.gameforge.com/'
            .employer
              %p
                %small
                  Gameforge Productions GmbH
            .description
              %p
                Browser game interface development
                &nbsp;&middot;&nbsp;
                %small
                  [HTML, CSS, MooTools]
          .screenshot
            %figure.img-shadow
              = link_to 'http://de.battleknight.gameforge.com/' do
                = image_tag 'screenshots/battleknight.jpg', class: 'img-responsive center-block'

        %li.work
          .date
            %h5
              Aug 2005 &ndash; Jul 2010
          .details
            .project
              %h4
                = link_to 'eyeworkers interactive', 'http://www.eyeworkers.de/'
            .employer
              %p
                %small
                  eyeworkers interactive GmbH
            .description
              %dl
                %dt
                  Interface design & development
                %dd
                  Multiple web-based projects for small and medium-sized businesses & large clients
                %dt
                  Apprenticeship
                %dd
                  Mediengestalter für Digital- & Printmedien – Fachrichtung Medienoperating
              %p
                %small
                  [HTML, CSS, Screendesign, Flash, JavaScript, jQuery, Ext JS, WordPress]
          .screenshot
            %figure.img-shadow
              = link_to 'http://www.eyeworkers.de/' do
                = image_tag 'screenshots/eyeworkers.jpg', class: 'img-responsive center-block'
