---
title: "Christian Fleschhut: Frontend Developer &middot; Berlin, Germany"
---

/ About
%section#about
  .row
    .col-md-12
      .page-header
        %h2
          About
          %small
            Who am I

      .row
        .col-sm-4.col-md-3
          = image_tag 'christian_fleschhut_profile_02.jpg', alt: '', class: 'img-responsive img-thumbnail center-block'
        .col-sm-8.col-md-9
          #welcome
            %h3
              Hi there! I’m Christian,
            %p.lead.highlights
              a <em class="text-highlight">frontend developer</em> specialized in <em class="text-highlight">Ruby on Rails, Haml, Sass, JavaScript</em> and <em class="text-highlight">Responsive Webdesign</em>.
            %p.lead
              %small
                If not tied to the MacBook, I love to do #{link_to 'long distance running', 'http://connect.garmin.com/profile/cfleschhut'}.
                I still consider myself being a skateboarder at heart.
      %hr

      .row#skills
        .col-sm-4.col
          %h4
            My current tools of trade include:
          %ul.fa-ul
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                Ruby on Rails, HTML (Haml), CSS (Sass, Compass)
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                Twitter Bootstrap, Bourbon & Neat, Zurb Foundation
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                Sublime Text, Chrome Web Inspector, Git, Photoshop
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                RSpec + Cabybara
        .col-sm-4.col
          %h4
            Trusted technologies I’ve used ever since:
            / My guiding principles are:
          %ul.fa-ul
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                Semantic HTML, well-structured CSS, Unobtrusive JavaScript
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                jQuery, MooTools
            / %li
            /   %p
            /     %i.fa.fa-li.fa-angle-right
            /     jQuery Mobile, Sencha Touch, Zepto
            / %li
            /   %p
            /     %i.fa.fa-li.fa-angle-right
            /     WordPress
        .col-sm-4.col
          %h4
            At night I dream about someday getting my head around:
          %ul.fa-ul
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                Node.js
            %li
              %p
                %i.fa.fa-li.fa-angle-right
                Backbone, Ember, Angular

/ Timeline
%section#timeline
  .row
    .col-md-12
      .page-header
        %h2
          Timeline
          %small
            professional experience

  .row
    .col-sm-10.col-sm-offset-1
      %ul
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2013
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2012
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2011
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2010
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2009
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2008
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2007
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2006
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2005
              .panel-body
                panel content
        %li
          .panel-wrapper
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  2004
              .panel-body
                panel content

/ Contact
%section#contact
  .row
    .col-md-12
      .page-header
        %h2
          Contact
          %small
            How to find me
    .col-md-4
      %h3
        Email
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-inbox
          %p
            Feel free to drop me a line at:
            = mail_to 'hello@christianfleschhut.de', 'hello@christianfleschhut.de'
        %li
          %i.fa.fa-li.fa-skype
          %p
            Skype-ID:
            = link_to 'cfleschhut', 'skype:cfleschhut'
    .col-md-4
      %h3
        Credits
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-cogs
          Site powered by:
          %br
          #{link_to 'Middleman', 'http://middlemanapp.com/'},
          #{link_to 'Bootstrap-Sass', 'https://github.com/twbs/bootstrap-sass'}
          &amp; Club Mate
        %li
          %i.fa.fa-li.fa-camera-retro
          Photo by:
          %br
          = link_to 'Apolonia Wieland', 'http://bangbang-photography.com/'
    .col-md-4
      %h3
        Elsewhere
      %p
        I store code snippets at these places:
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-code-fork
          = link_to 'GitHub Gist', 'https://gist.github.com/cfleschhut'
        %li
          %i.fa.fa-li.fa-code
          = link_to 'jsFiddle.net', 'http://jsfiddle.net/user/cfleschhut/fiddles/'
        %li
          %i.fa.fa-li.fa-puzzle-piece
          = link_to 'snipplr.com', 'http://snipplr.com/users/cfleschhut'
