---
title: "Christian Fleschhut: Frontend Developer &middot; Berlin, Germany"
---

/ About
%section#about
  .row
    .col-md-12
      .page-header
        %h2
          About
          %small
            Who am I

      .row
        .col-sm-4.col-md-3
          = image_tag 'christian_fleschhut_profile_02.jpg', alt: '', class: 'img-responsive img-thumbnail center-block'
        .col-sm-8.col-md-9
          #welcome
            %p.lead
              Hi there! I’m <strong>Christian</strong>,
            %p.lead
              a <em class="text-highlight">frontend developer</em> specialized in <em class="text-highlight">Ruby on Rails, Haml, Sass, JavaScript</em> and <em class="text-highlight">Responsive Webdesign</em>.
            %p.lead
              %small
                If not tied to the MacBook, I love to do #{link_to 'long distance running', 'http://connect.garmin.com/profile/cfleschhut'}.
                I still consider myself being a skateboarder at heart.
      %hr

      .row
        .col-sm-4
          %h4
            My current tools of trade include:
          %ul
            %li
              Ruby on Rails, HTML (Haml), CSS (Sass, Compass)
            %li
              Twitter Bootstrap, Bourbon & Neat, Zurb Foundation
            %li
              Sublime Text, Chrome Web Inspector, Git, Photoshop
            %li
              RSpec + Cabybara
        .col-sm-4
          %h4
            Trusted technologies I’ve used ever since:
            / My guiding principles are:
          %ul
            %li
              Semantic HTML, well-structured CSS, Unobtrusive JavaScript
            %li
              jQuery, MooTools
            / %li
            /   jQuery Mobile, Sencha Touch, Zepto
            / %li
            /   WordPress
        .col-sm-4
          %h4
            At night I dream about someday getting my head around:
          %ul
            %li
              Node.js
            %li
              Backbone, Ember, Angular

/ Timeline
%section#timeline
  .row
    .col-md-12
      .page-header
        %h2
          Timeline
          %small
            professional experience
    .col-md-5.col-md-offset-1
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            panel title
        .panel-body
          panel content
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            panel title
        .panel-body
          panel content
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-md-5
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            panel title
        .panel-body
          panel content
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            panel title
        .panel-body
          panel content
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

/ Contact
%section#contact
  .row
    .col-md-12
      .page-header
        %h2
          Contact
          %small
            How to find me
    .col-md-4
      %h3
        Email
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-inbox
          %p
            Feel free to drop me a line at:
            = mail_to 'hello@christianfleschhut.de', 'hello@christianfleschhut.de'
        %li
          %i.fa.fa-li.fa-skype
          %p
            Skype-ID:
            = link_to 'cfleschhut', 'skype:cfleschhut'
    .col-md-4
      %h3
        Credits
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-cogs
          Site powered by:
          %br
          #{link_to 'Middleman', 'http://middlemanapp.com/'},
          #{link_to 'Bootstrap-Sass', 'https://github.com/twbs/bootstrap-sass'}
          &amp; Club Mate
        %li
          %i.fa.fa-li.fa-camera-retro
          Photo by:
          %br
          = link_to 'Apolonia Wieland', 'http://bangbang-photography.com/'
    .col-md-4
      %h3
        Elsewhere
      %p
        I store code snippets at these places:
      %ul.fa-ul
        %li
          %i.fa.fa-li.fa-code-fork
          = link_to 'GitHub Gist', 'https://gist.github.com/cfleschhut'
        %li
          %i.fa.fa-li.fa-code
          = link_to 'jsFiddle.net', 'http://jsfiddle.net/user/cfleschhut/fiddles/'
        %li
          %i.fa.fa-li.fa-puzzle-piece
          = link_to 'snipplr.com', 'http://snipplr.com/users/cfleschhut'
