---
title: Index
---

%section
  .row
    .col-md-12
      %p.lead
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
  .row
    .col-md-4
      %p
        %span.glyphicon.glyphicon-fire
        Lorem ipsum #{link_to 'dolor sit amet', '#'}, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      %p.text-right
        = link_to '#', class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-chevron-right
          lorem ipsum
    .col-md-4
      %p
        %span.glyphicon.glyphicon-camera
        Lorem ipsum #{link_to 'dolor sit amet', '#'}, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      %p.text-right
        = link_to '#', class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-chevron-right
          lorem ipsum
    .col-md-4
      %p
        %span.glyphicon.glyphicon-cloud
        Lorem ipsum #{link_to 'dolor sit amet', '#'}, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      %p.text-right
        = link_to '#', class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-chevron-right
          lorem ipsum
